{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form method="post" class="box">
                        {% csrf_token %}
                        {{ form.as_table }}
                        <button type="submit" class="button is-success mt-2">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}